@charset "UTF-8";
/*CSS Reset*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }  /*100%是继承父级的字的大小*/

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }  /* link visited hover activite*/

/*abbr[title], acronym[title] { /!* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 *!/*/
    /*border-bottom: 1px dotted;*/
    /*cursor: help;  cursor是鼠标 经过是（帮助）问号*/
/*}*/

/*q:before, q:after { content: ''; }*/

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }



/*字体大小*/








/*内边距*/
.pl05{padding-left: 5px;}
.pl06{padding-left: 6px;}
.pl07{padding-left: 7px;}
.pl08{padding-left: 8px;}
.pl09{padding-left: 9px;}
.pl10{padding-left: 10px;}
.pl11{padding-left: 11px;}
.pl12{padding-left: 12px;}
.pl13{padding-left: 13px;}
.pl14{padding-left: 14px;}
.pl15{padding-left: 15px;}
.pl16{padding-left: 16px;}
.pl17{padding-left: 17px;}
.pl18{padding-left: 18px;}
.pl19{padding-left: 19px;}
.pl20{padding-left: 20px;}
.pl21{padding-left: 21px;}
.pl22{padding-left: 22px;}
.pl23{padding-left: 23px;}
.pl24{padding-left: 24px;}
.pl25{padding-left: 25px;}
.pl26{padding-left: 26px;}
.pl27{padding-left: 27px;}
.pl28{padding-left: 28px;}
.pl29{padding-left: 29px;}
.pl30{padding-left: 30px;}
.pl31{padding-left: 31px;}
.pl32{padding-left: 32px;}
.pl33{padding-left: 33px;}
.pl34{padding-left: 34px;}
.pl35{padding-left: 35px;}
.pl36{padding-left: 36px;}
.pl37{padding-left: 37px;}
.pl38{padding-left: 38px;}
.pl39{padding-left: 39px;}
.pl40{padding-left: 40px;}
.pl41{padding-left: 41px;}
.pl42{padding-left: 42px;}
.pl43{padding-left: 43px;}
.pl44{padding-left: 44px;}
.pl45{padding-left: 45px;}
.pl46{padding-left: 46px;}
.pl47{padding-left: 47px;}
.pl48{padding-left: 48px;}
.pl49{padding-left: 49px;}
.pl50{padding-left: 50px;}
.pl51{padding-left: 51px;}
.pl52{padding-left: 52px;}
.pl53{padding-left: 53px;}
.pl54{padding-left: 54px;}
.pl55{padding-left: 55px;}
.pl56{padding-left: 56px;}
.pl57{padding-left: 57px;}
.pl58{padding-left: 58px;}
.pl59{padding-left: 59px;}
.pl60{padding-left: 60px;}
.pl61{padding-left: 61px;}
.pl62{padding-left: 62px;}
.pl63{padding-left: 63px;}
.pl64{padding-left: 64px;}
.pl65{padding-left: 65px;}
.pl66{padding-left: 66px;}
.pl67{padding-left: 67px;}
.pl68{padding-left: 68px;}
.pl69{padding-left: 69px;}
.pl70{padding-left: 70px;}

/*右*/
.pr5{padding-right: 5px;}
.pr6{padding-right: 6px;}
.pr7{padding-right: 7px;}
.pr8{padding-right: 8px;}
.pr9{padding-right: 9px;}
.pr10{padding-right: 10px;}
.pr11{padding-right: 11px;}
.pr12{padding-right: 12px;}
.pr13{padding-right: 13px;}
.pr14{padding-right: 14px;}
.pr15{padding-right: 15px;}
.pr16{padding-right: 16px;}
.pr17{padding-right: 17px;}
.pr18{padding-right: 18px;}
.pr19{padding-right: 19px;}
.pr20{padding-right: 20px;}
.pr21{padding-right: 21px;}
.pr22{padding-right: 22px;}
.pr23{padding-right: 23px;}
.pr24{padding-right: 24px;}
.pr25{padding-right: 25px;}
.pr26{padding-right: 26px;}
.pr27{padding-right: 27px;}
.pr28{padding-right: 28px;}
.pr29{padding-right: 29px;}
.pr30{padding-right: 30px;}
.pr31{padding-right: 31px;}
.pr32{padding-right: 32px;}
.pr33{padding-right: 33px;}
.pr34{padding-right: 34px;}
.pr35{padding-right: 35px;}
.pr36{padding-right: 36px;}
.pr37{padding-right: 37px;}
.pr38{padding-right: 38px;}
.pr39{padding-right: 39px;}
.pr40{padding-right: 40px;}
.pr41{padding-right: 41px;}
.pr42{padding-right: 42px;}
.pr43{padding-right: 43px;}
.pr44{padding-right: 44px;}
.pr45{padding-right: 45px;}
.pr46{padding-right: 46px;}
.pr47{padding-right: 47px;}
.pr48{padding-right: 48px;}
.pr49{padding-right: 49px;}
.pr50{padding-right: 50px;}
.pr51{padding-right: 51px;}
.pr52{padding-right: 52px;}
.pr53{padding-right: 53px;}
.pr54{padding-right: 54px;}
.pr55{padding-right: 55px;}
.pr56{padding-right: 56px;}
.pr57{padding-right: 57px;}
.pr58{padding-right: 58px;}
.pr59{padding-right: 59px;}
.pr60{padding-right: 60px;}
.pr61{padding-right: 61px;}
.pr62{padding-right: 62px;}
.pr63{padding-right: 63px;}
.pr64{padding-right: 64px;}
.pr65{padding-right: 65px;}
.pr66{padding-right: 66px;}
.pr67{padding-right: 67px;}
.pr68{padding-right: 68px;}
.pr69{padding-right: 69px;}
.pr70{padding-right: 70px;}
/*上*/
.pt5{padding-top: 5px;}
.pt6{padding-top: 6px;}
.pt7{padding-top: 7px;}
.pt8{padding-top: 8px;}
.pt9{padding-top: 9px;}
.pt10{padding-top: 10px;}
.pt11{padding-top: 11px;}
.pt12{padding-top: 12px;}
.pt13{padding-top: 13px;}
.pt14{padding-top: 14px;}
.pt15{padding-top: 15px;}
.pt16{padding-top: 16px;}
.pt17{padding-top: 17px;}
.pt18{padding-top: 18px;}
.pt19{padding-top: 19px;}
.pt20{padding-top: 20px;}
.pt21{padding-top: 21px;}
.pt22{padding-top: 22px;}
.pt23{padding-top: 23px;}
.pt24{padding-top: 24px;}
.pt25{padding-top: 25px;}
.pt26{padding-top: 26px;}
.pt27{padding-top: 27px;}
.pt28{padding-top: 28px;}
.pt29{padding-top: 29px;}
.pt30{padding-top: 30px;}
.pt31{padding-top: 31px;}
.pt32{padding-top: 32px;}
.pt33{padding-top: 33px;}
.pt34{padding-top: 34px;}
.pt35{padding-top: 35px;}
.pt36{padding-top: 36px;}
.pt37{padding-top: 37px;}
.pt38{padding-top: 38px;}
.pt39{padding-top: 39px;}
.pt40{padding-top: 40px;}
.pt41{padding-top: 41px;}
.pt42{padding-top: 42px;}
.pt43{padding-top: 43px;}
.pt44{padding-top: 44px;}
.pt45{padding-top: 45px;}
.pt46{padding-top: 46px;}
.pt47{padding-top: 47px;}
.pt48{padding-top: 48px;}
.pt49{padding-top: 49px;}
.pt50{padding-top: 50px;}
.pt51{padding-top: 51px;}
.pt52{padding-top: 52px;}
.pt53{padding-top: 53px;}
.pt54{padding-top: 54px;}
.pt55{padding-top: 55px;}
.pt56{padding-top: 56px;}
.pt57{padding-top: 57px;}
.pt58{padding-top: 58px;}
.pt59{padding-top: 59px;}
.pt60{padding-top: 60px;}
.pt61{padding-top: 61px;}
.pt62{padding-top: 62px;}
.pt63{padding-top: 63px;}
.pt64{padding-top: 64px;}
.pt65{padding-top: 65px;}
.pt66{padding-top: 66px;}
.pt67{padding-top: 67px;}
.pt68{padding-top: 68px;}
.pt69{padding-top: 69px;}
.pt70{padding-top: 70px;}
/*下*/
.pb5{padding-bottom: 5px;}
.pb6{padding-bottom: 6px;}
.pb7{padding-bottom: 7px;}
.pb8{padding-bottom: 8px;}
.pb9{padding-bottom: 9px;}
.pb10{padding-bottom: 10px;}
.pb11{padding-bottom: 11px;}
.pb12{padding-bottom: 12px;}
.pb13{padding-bottom: 13px;}
.pb14{padding-bottom: 14px;}
.pb15{padding-bottom: 15px;}
.pb16{padding-bottom: 16px;}
.pb17{padding-bottom: 17px;}
.pb18{padding-bottom: 18px;}
.pb19{padding-bottom: 19px;}
.pb20{padding-bottom: 20px;}
.pb21{padding-bottom: 21px;}
.pb22{padding-bottom: 22px;}
.pb23{padding-bottom: 23px;}
.pb24{padding-bottom: 24px;}
.pb25{padding-bottom: 25px;}
.pb26{padding-bottom: 26px;}
.pb27{padding-bottom: 27px;}
.pb28{padding-bottom: 28px;}
.pb29{padding-bottom: 29px;}
.pb30{padding-bottom: 30px;}
.pb31{padding-bottom: 31px;}
.pb32{padding-bottom: 32px;}
.pb33{padding-bottom: 33px;}
.pb34{padding-bottom: 34px;}
.pb35{padding-bottom: 35px;}
.pb36{padding-bottom: 36px;}
.pb37{padding-bottom: 37px;}
.pb38{padding-bottom: 38px;}
.pb39{padding-bottom: 39px;}
.pb40{padding-bottom: 40px;}
.pb41{padding-bottom: 41px;}
.pb42{padding-bottom: 42px;}
.pb43{padding-bottom: 43px;}
.pb44{padding-bottom: 44px;}
.pb45{padding-bottom: 45px;}
.pb46{padding-bottom: 46px;}
.pb47{padding-bottom: 47px;}
.pb48{padding-bottom: 48px;}
.pb49{padding-bottom: 49px;}
.pb50{padding-bottom: 50px;}
.pb51{padding-bottom: 51px;}
.pb52{padding-bottom: 52px;}
.pb53{padding-bottom: 53px;}
.pb54{padding-bottom: 54px;}
.pb55{padding-bottom: 55px;}
.pb56{padding-bottom: 56px;}
.pb57{padding-bottom: 57px;}
.pb58{padding-bottom: 58px;}
.pb59{padding-bottom: 59px;}
.pb60{padding-bottom: 60px;}
.pb61{padding-bottom: 61px;}
.pb62{padding-bottom: 62px;}
.pb63{padding-bottom: 63px;}
.pb64{padding-bottom: 64px;}
.pb65{padding-bottom: 65px;}
.pb66{padding-bottom: 66px;}
.pb67{padding-bottom: 67px;}
.pb68{padding-bottom: 68px;}
.pb69{padding-bottom: 69px;}
.pb70{padding-bottom: 70px;}